RewriteEngine On

# Exclude robots.txt from rewriting
RewriteCond %{REQUEST_URI} !^/robots\.txt$

# Add .html extension to URLs without a dot
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]
